*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .wrap{
    width: 90%;
    max-width: 1000px;
    height: 70vh;
    text-align: center;
  }
  
  .widget{
    width: 40%;
    margin: 12em;
  }
  
  .widget p{
    display: inline-block;
    line-height: 1em;
  }
  
  .fecha{
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: 1px white solid;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
  }
  
  .reloj{
    background: rgba(255, 255, 255, 0.5);
    border: 1px white solid;
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 4em;
    color: black;
    padding: 20px;
    width: 100%;
    border-radius: 50px;
  }
  
  .reloj .caja-segundos{
    display: inline-block;
  }
  
  .reloj .segundos, .reloj .ampm{
    font-size: 2rem;
    display: block;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: #fff;
    font-size: 10px;
    
  }